<!DOCTYPE html>
<html>
  <head>
    <title>Customer Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- javascripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script> -->
    <script src="/javascripts/index.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="/javascripts/inquiries.js"></script>

    <!-- <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.css"> -->
  </head>
  <body>
    <header>
      <% include header %>
    </header>
    <div class="page-header">
        <h1> <%=customer.name%> <small> <%=customer.phone%> <%=customer.email%> </small> </h1>
    </div>

    <table class="table table-hover table-bordered" id="inquiries_table">
    	<thead>
	    	<tr>
	    		<th> Time Created</th>
	    		<th> Issue </th>
	    		<th> Solution </th>
	    		<th> Notes </th> 
	    		<th> Order </th>
                <th> Created By </td>
                <th> Status </th>
                <th> Update </th>
	    	</tr>
	    </thead>
	    <tbody>
	    	<% for (var i = inquiries.length-1; i >= 0; --i ) { %>
                
    		    	<tr id='<%=inquiries[i]._id%>'>
    		    		<td> <%= inquiries[i].created_on %> </td>
    		    		<td> <%= inquiries[i].issue %> </td>
    		    		<td> <%= inquiries[i].solution %> </td>
    		    		<td class="note-cell"> <%= inquiries[i].notes %> </td> 
    		    		<td> <%= inquiries[i].order_num %> </td>
                        <td> <%= inquiries[i].created_by %> </td>
                        <td class="status-cell"><%= inquiries[i].status%></td>
                        <td> <form method="post" action="/inquiry/update">
                            <input type="hidden" name="customer_id" value='<%= customer._id %>'></input>
                            <input type="hidden" name="inquiry_id" value='<%= inquiries[i]._id%>'></input>
                            <button type="button" class="btn btn-default update-btn"> Update</button>
                            <input type="hidden" name="_csrf" value='<%=csrf%>'/>
                        </form> </td>
    		    	</tr>
                    
	    	<% } %>
	    </tbody>
    </table>


    <h3> Add a new inquiry </h3>
    <form method="post" action="/inquiry/add" data-toggle="validator">
    	<div class="form group">
    		<label for="issue"> Issue:</label>
    		<input type="text" class="form-control" name="issue" id="issue" required></input>
    	</div>
    	<div class="form group">
    		<label for="solution"> Solution:</label>
    		<input type="text" class="form-control" name="solution" id="solution"></input>
    	</div>
    	<div class="form group">
    		<label for="notes"> Notes:</label>
    		<input type="text" class="form-control" name="notes" id="notes"></input>
    	</div>
    	<div class="form group">
    		<label for="order_num"> Order #:</label>
    		<input type="tel" class="form-control" name="order_num" id="order_num"></input>
    	</div>
        <div class="form group">
            <label for="resolved"> Resolved: <label>
            <input type="checkbox" aria-label="resolved" name="resolved">
        </div>
    	<button type="submit" class="btn btn-default">Submit</button>
        <input type="hidden" name="_csrf" value='<%=csrf%>'/>
    	<input type="hidden" name="customer_id" value =<%= customer._id %>></input>
    </form>
  </body>
</html>
